.building {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 15px;
}

.client-name {
  margin-bottom: 15px;
  font-style: italic;
}

.address-display {
  padding: 0 0 15px;
  font-size: 25px;
  font-weight: 700;
}

.field-container {
  min-height: 25px;
  padding-bottom: 5px;
}

.field-data {
  min-height: 60px;
}

.field-name {
  font-weight: 700;
}

.field-value-container {
  min-height: 30px;
}

.building-controls {
  margin-top: 15px;
}

.cancel-button {
  margin-left: 5px;
}

/* .address-field {
  
} */

input,
select {
  min-width: 50%;
}